<%- include('_partials/_header') -%>
    <h1>Title: 1up Health</h1>
    <p><b>ID</b>: <%- posts.id -%></p>
    <p><b>Gender:</b> <%- posts.gender -%></p>
    <p><b>Resource Type:</b> <%- posts.resourceType -%></p>
<%- include('_partials/_footer') -%>